/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* COMEÇO DO CSS */

/*======================================================================
                                Geral
=======================================================================*/
body{
    margin: 0vw 0vw 2vw 0vw;
    color: #FFFFFF;
}
html{
    background: linear-gradient(to right, #329b66, #034d3e)
}
a {
    text-decoration: none;
    color: white;
}
/*======================================================================
                                Topo
=======================================================================*/
header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    opacity: 50%;
    height: 80px;
}
header div.divPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header div.divDois ul li {
    margin: 0;
    padding: 0 35px;
}
header div.divDois ul{
    display: flex;
}
header div.divPrincipal div.image a{
    margin: 15px 0 15px 35px;
    font-size: 1.9rem;
}
header div.divPrincipal div.divDois nav ul li.food{
    margin: 0 1.5vw 0 0;
}

/*======================================================================
                                Main
=======================================================================*/

section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}
.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}
.slider-content input {
    display: none;
}
.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
}
.slide-box img {
    width: 100%;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #FFFFFF;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}
.nav-manual .manual-btn:not(:last-child) .nav-auto div:not(:last-child) {
    margin-right: 10px;
}
.nav-manual .manual-btn:hover {
    background-color: #FFFFFF;
}
#radio1:checked ~ .nav-auto .auto-btn1 {
    background-color: aqua;
}
#radio2:checked ~ .nav-auto .auto-btn2 {
    background-color: aqua;
}
#radio2:checked ~ .nav-auto .auto-btn2 {
    background-color: aqua;
}
/*======================================================================
                                Footer
=======================================================================*/

footer{
    margin: 5vw 0 0 0;
}
footer div.footer{
    display: flex;
    justify-content: space-between;
}
footer div.footer div a{
    padding: 10px;
    font-size: 2rem;
}
footer div.linhas{
    margin: 0 2vw 0 2vw;
}
footer div.footer div.logos a{
    padding: 30px;
    font-size: 3rem;
}